@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 280 19% 12%;
        --card: 0 0% 100%;
        --card-foreground: 280 19% 12%;
        --popover: 0 0% 100%;
        --popover-foreground: 280 19% 12%;
        --primary: 278 100% 55%;
        --primary-foreground: 0 0% 100%;
        --secondary: 19 100% 64%;
        --secondary-foreground: 0 0% 100%;
        --muted: 220 14% 96%;
        --muted-foreground: 280 9% 45%;
        --accent: 220 14% 96%;
        --accent-foreground: 278 100% 50%;
        --destructive: 12 100% 46%;
        --destructive-foreground: 0 0% 100%;
        --border: 220 13% 91%;
        --input: 279 11% 69%;
        --ring: 282 100% 43%;
        --chart-1: 278 100% 50%;
        --chart-2: 68 100% 50%;
        --chart-3: 128 100% 50%;
        --chart-4: 248 100% 50%;
        --chart-5: 308 100% 50%;
        --radius: 0.3rem;
    }

    .dark {
        --background: 0 0% 9%;
        --foreground: 0 0% 95%;
        --card: 0 0% 13%;
        --card-foreground: 0 0% 95%;
        --popover: 0 0% 13%;
        --popover-foreground: 0 0% 95%;
        --primary: 278 100% 41%;
        --primary-foreground: 0 0% 100%;
        --secondary: 19 100% 64%;
        --secondary-foreground: 0 0% 100%;
        --muted: 0 0% 31%;
        --muted-foreground: 0 0% 70%;
        --accent: 0 0% 100%;
        --accent-foreground: 0 0% 95%;
        --destructive: 346 100% 42%;
        --destructive-foreground: 0 0% 100%;
        --border: 0 0% 33%;
        --input: 0 0% 43%;
        --ring: 282 100% 43%;
        --chart-1: 278 100% 50%;
        --chart-2: 68 100% 50%;
        --chart-3: 128 100% 50%;
        --chart-4: 248 100% 50%;
        --chart-5: 308 100% 50%;
    }
}


@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@keyframes gradient {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}


body {
    background: #E3FDF5;
    background: linear-gradient(
            to right,
            #E3FDF5, #FFE6FA
    );
    background-size: 200% 200%;
    animation: gradient 20s ease infinite;
}

